exportPattern("^[[:alpha:]]+")
import(neo4r)
import(Matrix)
import(reshape2)
import(dplyr)
import(tibble)
import(stringr)
import(CommunityAMARETTO)
importFrom("stats", "na.omit")
importFrom("utils", "write.csv")